venv/
engine/__pycache__
.vscode
engine/game/__pycache__
3600-agents/Jeffery/__pycache__
3600-agents/Yolanda/__pycache__
3600-agents/Bob(heuristic)/__pycache__
3600-agents/matches
/3600-agents/Gregory/__pycache__
/3600-agents/Gregory.zip
/3600-agents/Jeffery.zip
/repository
/repository.zip